.about-us-container {
  max-width: 560px;
  color: #fff;
}

.about-us-description {
  font-size: 1.3rem;
  font-weight: 600;
  color: #c8f7c5;
  margin-bottom: 1rem;
}

.about-us-content {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.9rem;
  color: #f1f1f1;
}
